version: "3.9"

services:
  sidago_crm:
    build: .
    container_name: sidago_crm
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
